<!--
  Generated template for the AddSitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addSite</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <!-- <ion-list class="acc-list">
          <ion-item  class="item-fnt" (click)="onClickMultiZones()" >
            <ion-icon item-start name="podium"></ion-icon>
            <h6>ZonesList</h6>
          </ion-item>
        </ion-list> -->
        <div>
            <ion-item (click)="onClickMultiZones()" >
                <div>ZonesList</div>
                <ion-icon *ngIf="isAdd" item-end name="ios-arrow-down"></ion-icon>
                <ion-icon *ngIf="!isAdd" item-end name="ios-arrow-up"></ion-icon>
                <div *ngIf="isaddZone">
                    <div *ngFor="let item of multiZones">
                      <button ion-button (click)="onClickZone(item)">ZoneName</button>
                      </div>
                    </div>
              </ion-item>
            </div>
            <div>
                <ion-item (click)="onClickMultiSites()">
                    <div>SitesList</div>
                    <ion-icon *ngIf="isAdd" item-end name="ios-arrow-down"></ion-icon>
                    <ion-icon *ngIf="!isAdd" item-end name="ios-arrow-up"></ion-icon>
                    <div *ngIf="isaddZone">
                        <div *ngFor="let item of multiZones">
                          <button ion-button (click)="onClickZone(item)">SiteName</button>
                          </div>
                        </div>
                  </ion-item>
                </div>
    <!-- <div class="fm-card">
          <div class="err-msg" *ngIf="required">Name is required</div>
          <div>Site Name<span style="color: red">*</span></div>
          <div class="name-box">
            <ion-input id="pac-input" class="controls" type="text" placeholder="Search Box"></ion-input>
          </div>
          <div id="map"></div>
        <div>
          <div>Address</div>
          <div class="name-box">
            <ion-input type="text" [(ngModel)]="address"></ion-input>
          </div>
        </div>
        <div>
            <div>Coordinates</div>
            <div class="name-box">
              <ion-input type="text" [(ngModel)]="Coordinates"></ion-input>
            </div>
          </div>
        <button ion-button class="cancel-btn" (click)="onClickCancel()">Cancel</button>
        <button ion-button class="add-btn" (click)="onClickAddSite()">Add</button>
      </div> -->
</ion-content>
