page-practice {

  .img-fab{
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .card-stl{
    margin-top: 1rem;
  }
  .img-stl{
    width: 62px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
  }
  .img-fnt{
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .img-bg{
    width: 90px;
    border-radius: 50%;
    margin: auto;
  }
  .img-crd{
    width: 84px;
    border-radius: 50%;
    margin: auto;
  }
  #map{
    width: 100%;
    height: 300Px;
  }

}

