<!--
  Generated template for the OthersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <div class="font-selct row">
        <ion-icon class="cc-icon col-2" name="closed-captioning"></ion-icon>
        <select class="select-bar col-8" placeholder="Select">
          <option>Select Site or purchage</option>
          <option (onchange)="onclickchange()">Site1</option>
          <option>Site2</option>
          <option>Site3</option>
          <option>Man power search</option>
          <option>Purcahge</option>
          <option>others</option>
          <option>Pickup</option>
        </select>
        <ion-icon class="cc-icon col-2" name="settings"></ion-icon>
      </div>

</ion-header>


<ion-content padding>
    <div>timer: {{timerVal}}</div>
    <div>
        <div  class="brder" *ngIf="tasklist==null">
            <div class="st-algn">Others</div>
            <select class="slct-bar col-8" aria-placeholder="select">
                <div><span>For Site</span></div><option (onchange)="onclickchange()">select site for the task</option>
                <option>Site1</option>
                <option>Site1</option>
                <option>Site1</option>
              </select>
            </div>
            <div text-center>
                <img src="../../assets/images/camera.png" *ngIf="!staffPic" (click)="TakePic()" class="fm-img" [ngClass]=" staffPic ?'red-border':''">
                <img *ngIf="staffPic" src="{{staffPic}}" (click)="TakePic()" class="fm-img">
              </div>
              <div>
                  <ion-textarea class="text-area" placeholder="visit notes can go here" [(ngModel)]="description">
                    </ion-textarea>
              </div>
            <ion-footer *ngIf="taskList!=null">
                <div class="his-footer">
                  <ion-icon name="list"></ion-icon>
                  <p>History</p>
                </div>
              </ion-footer>
              <ion-footer class="icon-stle" *ngIf="taskList==null">
                  <ion-icon name="play"></ion-icon>
                  <ion-icon name="pause"></ion-icon>
                  <ion-icon name="square"></ion-icon>
                </ion-footer>
            </div>


</ion-content>
