<!--
  Generated template for the AddZonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addZone</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <div>
    <ion-item (click)="onclickRegistered('Registered')">
        <div>ZonesList</div>
        <ion-icon *ngIf="isAdd" item-end name="ios-arrow-down"></ion-icon>
        <ion-icon *ngIf="!isAdd" item-end name="ios-arrow-up"></ion-icon>
        <div *ngIf="isaddZone">
            <div *ngFor="let item of multiZones">
              <button ion-button (click)="onClickZone(item)">ZoneName</button>
              </div>
            </div>
      </ion-item>
    </div> -->
  <div class="zone-list">
      <div ion-row class="booking-div">
        <div ion-col col-3 (click)="onClickAddSite()">
          <div class="add-circle">+</div>
          <div class="add-booking">AddSite</div>
        </div>
      </div>
    <ion-item (click)="onclickRegistered('Registered')">
        <div>ZonesList</div>
        <ion-icon *ngIf="!isaddZone" item-end name="ios-arrow-down"></ion-icon>
        <ion-icon *ngIf="isaddZone" item-end name="ios-arrow-up"></ion-icon>
        <div *ngIf="isaddZone">
            <div *ngFor="let item of multiZones">
                <button ion-button (click)="onClickZone(item)">Zones</button>
            </div>
        </div>
      </ion-item>
      <ion-item (click)="onclickAddSiteData('Add')">
          <div>Add Site</div>
          <ion-icon *ngIf="!isaddSite" item-end name="ios-arrow-down"></ion-icon>
          <ion-icon *ngIf="isaddSite" item-end name="ios-arrow-up"></ion-icon>
        </ion-item>
      </div>
        <div *ngIf="isaddSite" class="add-site">
            <div class="err-msg" *ngIf="isAp == true">Site name is required</div>
            <ion-label>Select Site Name :</ion-label>
            <ion-select class="margin-top" [(ngModel)]="apName">
              <ion-option *ngFor="let site of SiteList" [value]="site" (ionSelect)="onChangeSite(site)">{{site.name}}</ion-option>
            </ion-select>
            <div class="err-msg" *ngIf="isAddress == true">Address is required</div>
                <ion-label>Address :</ion-label>
                <ion-select class="margin-top" [(ngModel)]="blockName">
                    <ion-option *ngFor="let adrs of address " [value]="adrs" (ionSelect)="onChangeAddress(adrs)">{{adrs.name}}</ion-option>
                </ion-select>
                <div id="map"></div>
            <div class="err-msg" *ngIf="isCoords == true">Coordinates is required</div>
                <ion-label>Coordinates :</ion-label>
                <ion-select [(ngModel)]="name" class="margin-top">
                    <ion-option *ngFor="let coords of coordinates" [value]="coords" (ionSelect)="onChangeCoords(coords)">34.66666,43.798956894</ion-option>
                </ion-select>

            <button ion-button class="cancel-flt-btn" (click)="onClickSiteCancel()">Cancel</button>
            <button ion-button class="add-flt-btn" (click)="onClickAddSite()">Add Site</button>
        </div>

</ion-content>
