page-history {
  .select-bar{
    height: 3.5rem;
    width: 76%;
    border-radius: 5px;
    border-bottom: black;
    margin-left: 1rem;
  }
  .font-selct{
    background: blue;
    margin-top: 2px;
  }
  .cc-icon{
    width: 10%;
    text-align: center;
    font-size: 3rem;
    margin-left: 1.5px;
  }
  .st-algn{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .ion-stl{
    padding-bottom: 2rem;
  }
  .back-clr{
    background: #b6e8d0;
    border: solid 1px red;
  }
  .list-md{
    margin: -1px 0 4px;
  }
  .his-footer{
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
    margin-left: 1rem;
    ion-icon{
      font-size: 3rem;
      padding-bottom: .5rem;
      margin-left: 1rem;
      p{
        margin: 0;
      }
    }
  }
}
