<!--
  Generated template for the DeploymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Deployement</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div style="text-align: end">timer: {{timerVal}}</div>
    <div>
        <div  class="brder" *ngIf="tasklist==null">
            <div class="st-algn">Deployment</div>
            <select class="slct-bar col-8" aria-placeholder="select">
                <option>Select Deployment option</option>
                <option>HK-boy</option>
                <option>HK-lady</option>
                <option>Electrician</option>
                <option>Plumber</option>
              </select>
              <select class="slct-bar col-8" aria-placeholder="select">
                  <option>Select Employee Name</option>
                  <option>Emp1 Last1(emp1#)</option>
                  <option>Emp2 Last2(emp2#)</option>
                  <option>Emp3 Last3(emp3#)</option>
                  <option>Emp4 Last4(emp4#)</option>
                </select>
            </div>
          </div>
          <div text-center>
              <img src="../../assets/images/camera.png" *ngIf="!staffPic" (click)="TakePic()" class="fm-img" [ngClass]=" staffPic ?'red-border':''">
              <img *ngIf="staffPic" src="{{staffPic}}" (click)="TakePic()" class="fm-img">
            </div>
            <div class="text-fnt">
            <ion-textarea class="text-area" placeholder="Deployement Notes go here" [(ngModel)]="description">
              </ion-textarea>
            </div>
              <ion-footer class="icon-stle">
                  <ion-icon name="play"></ion-icon>
                  <ion-icon name="pause" (click)=onClickTask()></ion-icon>
                  <ion-icon name="square" (click)=PresentAlert()></ion-icon>
                </ion-footer>
</ion-content>
