<!--
  Generated template for the ScheduleManagementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ScheduleManagement</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <audio controls *ngIf="music">
    <source src="{{music.audioFile}}">
  Your browser does not support the audio element.
  </audio>

</ion-content>
