<!--
  Generated template for the AddUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>add-user</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="fm-card">
    <div text-center>
      <img src="../../assets/imgs/camera.jpg" *ngIf="!staffPic" (click)="TakePic()" class="fm-img"
        [ngClass]=" staffPic ?'red-border':''">
      <img *ngIf="staffPic" src="{{staffPic}}" (click)="TakePic()" class="fm-img">
    </div>

    <div class="upload-txt" (click)="TakePic()">Upload Photo</div>

    <div class="err-msg" *ngIf="required">Name is required</div>
    <div>Name<span class="bgclr">*</span></div>
    <div class="name-box">
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </div>

    <div>
      <div class="err-msg" *ngIf="required">Designation is required</div>
      <div>Designation<span class="bgclr">*</span></div>
      <div>
        <select [(ngModel)]="design_lev" class="sel-opt-box">
          <option value="maid">Maid</option>
          <option value="driver">Driver</option>
        </select>
      </div>
    </div>

    <div>
      <div class="err-msg" *ngIf="required">Contact is required</div>
      <div>Mobile number<span class="bgclr">*</span></div>
      <div class="name-box">
        <ion-input type="tel" [(ngModel)]="mobile" maxlength="10" (input)="exiStaffCheck()"></ion-input>
      </div>
    </div>

    <div class="err-msg" *ngIf="required">Email is required</div>
    <div>Email<span class="bgclr">*</span></div>
    <div class="name-box">
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </div>

      <ion-item class="dob-box">
        <ion-label>Date Of Birth</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="dob"></ion-datetime>
        <ion-icon item-end name="calendar"></ion-icon>
      </ion-item>

      <ion-item class="dob-box">
        <ion-label>Date Of Join</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="doj"></ion-datetime>
        <ion-icon item-end name="calendar"></ion-icon>
      </ion-item>

    <button ion-button class="cancel-btn" (click)="onClickCancel()">Cancel</button>
    <button ion-button class="add-btn" (click)="onClickAddStaff()">Submit</button>
  </div>

</ion-content>